@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(circle,
      rgb(166, 59, 233) 0%,
      rgb(145, 33, 214) 35%,
      rgba(58, 13, 85, 1) 100%);
  font-family: 'Baloo 2', cursive;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}